@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Press Start 2P", cursive;
    text-align: center;
}

header {
    display: grid;
    grid-template-columns: 2fr 4fr 2fr;
    place-items: center;
    margin: 10vh 0vh;

    a {
        color: green;
    }
}

main {
    display: grid;
    place-items: center;
    text-align: center;
    padding: 0% 3%;
}

article {

    #newOption {
        text-decoration: none;
        color: white;
        background: green;
        padding: 2%;
        border-radius: 10px;
    }
}

footer {
    min-height: 10vh;
    margin-top: 10%;
}